
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
 .logo {
    text-decoration: none;
 }
.logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 0.03;
    color:#2196F3;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 0.03;
        color: #000000;
}

